// Esquema de colores
//Primer esquema de color
$white: #fff;
$isabelline: #EEEDED;
$spanish-gray: #989797;
//Segundo esquema de colores
$Coral: #FA824C;
$Buff: #F1DD7B;
$Vanilla: #F5E7A1;
//Tercer esquema de colores
$flame: #E4572E;
$light-red-ochre: #E87554;
$Pastel-pink: #F2B2A0;
//Cuarto esquema colores
$shiny-shamrock: #4CA866;
$turquoise-green: #9DCFAB;
$pastel-gray: #BDDFC7;
//Quinto esquema colores
$Blue-France: #3C91E6;
$Blue-jeans: #5FA5EA;
$Jordy-blue: #82B9EF;
//Sexto esquema colores
$black: #000000;
$Outer-space: #454545;
$quick-silver: #A2A2A2;

//Tipografia
$mono: 'PT Mono', monospace;
$roboto: 'Roboto', sans-serif;


//Peso de fuentes
$light: 300;
$regular: 400;

//Tamaños de fuentes
$xxx-large: 70px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;
